ody{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    background-color:skyblue;
  }
  .main-div{
    display:flex;
    flex-direction:column;
    width:220px;
    padding:20px;
    margin:auto;
    margin-top:20px;
    background-color:black;
    border-radius:8px;
    color:white;
  }
  .form-group{
    display:flex;
    flex-direction:column;
    padding:5px;
  }
  input{
    width:200px;
  }
  .button-group{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
  }
  button{
    width:80px;
    padding:5px 0px;
    border-radius:30%;
  }
  .button-pay
  {
    color:white;
    background-color:green;
    border:unset;
  }
  .button-reset
  {
      width:80px;
    padding:5px 0px;
    border-radius:30%;
    color:white;
    background-color:red;
    border:unset;
  }