body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0vw;

}
.todo-container{
    background-color: white;
    color: blueviolet;
    padding: 20px;
    border-radius: 35px;
    width: 80%;
    box-shadow: 10px 10px 5px lightskyblue;
}

h1{
    align-items:ce;
}

#todo_input{
padding: 5px;
width: 500px;
}

button{
    background-color: brown;
    color: greenyellow;
    padding: 2px 4px;
    border: none;
    border-radius: 5px;

}

button:hover{
    background-color: orange;
    cursor: pointer;
}
ul{
    list-style-type:none;
    padding-left: 0px;
}

li.completed{
    text-decoration: line-through;
    color: red;
}
input[type="checkbox"]{
    margin-right: 10px;

}

.to_do_item{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.TO-D0-LIST-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}